body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* vh = viewport height. Это означает, что блок будет занимать всю доступную высоту экрана */
    margin: 0;
    font: inherit;
}

.section-admin {
    position: relative;
    height: 100vh;
    background-image: url("../src/img/login.webp");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%; 
    max-height: 500px;
  }

.center-form {
    overflow-y: auto;
    max-height: 100vh;
    margin-top: 50px;
    color: white;
}

.center-form input {
    display: block; /* Это свойство размещает каждый input элемент под предыдущим */
    margin-bottom: 10px; /* Добавляем немного отступа снизу для каждого input, чтобы они не слипались */
    height: auto;    /* Adjust height as needed */
}

.small-image {
    width: 50px; /* Устанавливаем ширину изображения */
    height: auto; /* Автоматически подстраиваем высоту */
}


.left-div {
    float: left;
    margin-left: 40px; /* Increase the left margin to move it further left */
    width: calc(50% - 40px); /* Adjust the width to make space for the right div */
    color: white;

}

.right-div {
    float: right;
    margin-right: 40px; /* Increase the right margin to move it further right */
    width: calc(50% - 40px); /* Adjust the width to make space for the left div */
    color: white;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

