body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* vh = viewport height. Это означает, что блок будет занимать всю доступную высоту экрана */
    margin: 0;
}

.center-form {
    overflow-y: auto;
    max-height: 100vh;
    margin-top: -50px;
}

.center-form input {
    display: block; /* Это свойство размещает каждый input элемент под предыдущим */
    margin-bottom: 10px; /* Добавляем немного отступа снизу для каждого input, чтобы они не слипались */
    height: auto;    /* Adjust height as needed */
}

