.small-image {
  width: 50px; /* Устанавливаем ширину изображения */
  height: auto; /* Автоматически подстраиваем высоту */
}

.section-admin-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-admin-login__form {
  max-width: 50%;
}

.section-admin {
  padding: 100px 0;
  height: 100%;
  color: white;
}

.section-admin__box {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
}

.section-admin__wrapper {
  width: 50%;
}

.section-admin__right {
  position: sticky;
  top: 20px;
}

.section-admin__heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 20px;
}

.section-admin__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-wrapper label {
  font-size: 14px;
}

.input-wrapper input,
.input-wrapper textarea {
  border: 2px solid #e0ebca;
  outline: none;
  background: #e8edde;
  border-radius: 5px;
  padding: 5px 10px;
}

@media all and (max-width: 768px) {
  .section-admin-login__form {
    max-width: 90%;
  }
}
